{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/spot-dog-tags.myshopify.com/products/configure/235566/edit
{% endcomment %}
{% if product.metafields.custom_fields["front_font_family"] != blank %}
  <div class="custom-field custom-field__front-font-family custom-field__type--text">
    <h3 class="custom-field--title">front_font_family</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["front_font_family"] }}
    </div>
  </div>
{% endif %}